.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#recipe{
    font-size: 20px;
    margin-bottom: 2%;
}

.loginout{
  position: fixed;
  z-index : 1;
  font-size : 3rem;
  /* padding: 0; */
  /* width : 10vw; */
  background-color: var(--btn-background-color);
  background-color: transparent;
  /* margin-top: 43%; */
  bottom: 10px;
  left: 5px;
}
.logIn{
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.follow{
  padding: 1%;
}

#followBtn{
  margin-left: 5%;
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#welcome{
  font-size: 15px;
}

#pfp{
  height: 30px;
  width: 30px;
}