.App {
  text-align: center;
  background-color: rgb(224, 224, 224);
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.absFeed{
  width: 60%;
  display: flex;
  margin-left: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#FEED{
  background-color: rgb(224, 224, 224);
}

body {
  background-color: rgb(224, 224, 224);

}
.everything{
  /* background-color: rgb(209, 202, 202);
  height: 100%; */
}

#recipe{
    border-radius: 10px;
    box-shadow: 10px 10px rgb(123, 187, 192);
    padding: 1.5vw;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    min-width: 20%;
}
.feed-title{
    font-size: 30px;
}
.feed-total{
  display: flex;
  flex-wrap: wrap;
}

.trendingvids{

  justify-content: center;
  background-color: rgb(224, 224, 224);
  height: 100%;
  margin:auto;
}
#trendingbody{
  background-color: rgb(224, 224, 224);
  text-align: center;
  justify-content: center;
  margin-bottom: 10%;
}

#navBAR{
  align-items: left;
  
  left: 0px;
  width: 100%;

}
.trendingpic{
  justify-content: center;
}
.loginout{
  position: fixed;
  z-index : 1;
  font-size : 3rem;
  /* padding: 0; */
  /* width : 10vw; */
  background-color: var(--btn-background-color);
  background-color: transparent;
  /* margin-top: 43%; */
  bottom: 10px;
  left: 5px;
}
.logIn{
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.follow{
  padding: 1%;
}

#followBtn{
  margin-left: 5%;
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#welcome{
  font-size: 15px;
}

#pfp{
  height: 30px;
  width: 30px;
}